{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- HTML para resetear contraseña -->
	<h3 class="my-4 border-bottom pb-1">Cambiar Contraseña</h3>
	{% if validlink %}
	<table class="table table-bordered">
		<form method="post">
			{% csrf_token %}
			{{form.as_table}}
			<tr>
				<td colspan="2">
					<input type="submit" value="Confirmar" class="btn btn-primary" />
				</td>
			</tr>
		</form>
	</table>
	{% else %}
	<p>Link expirado, Por favor recargue</p>
	{% endif %}
</main>
{% endblock %}